<div class="main-container-wrapper">
    <span class="header">Nouveau Dessin</span>
</div>
<div class="main-container-wrapper">
    <form class="form" [formGroup]="newDrawingForm" (submit)="onSubmit()">
        <mat-form-field required class="form-field clickable" appearance="outline">
            <mat-label>Titre</mat-label>
            <input  matInput type="text" formControlName="title" placeholder="Le beau soleil" />
            <mat-error *ngIf="title.hasError('required')">
                Ce champ est obligatoire.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="pb-1 form-field clickable" appearance="outline">
            <mat-label>Auteur</mat-label>
            <mat-select formControlName='author' required>
                <mat-option *ngFor="let author of authors" [value]="author.key">
                    {{ author.value }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="author.hasError('required')">
                Ce champ est obligatoire.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="pb-1 form-field clickable" appearance="outline">
            <mat-label>Visibilité</mat-label>
            <mat-select (selectionChange)="changeType($event)" formControlName='type' required>
                <mat-option *ngFor="let visibility of visibilityTypes" [value]="visibility.key">
                    {{ visibility.value }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="type.hasError('required')">
                Ce champ est obligatoire.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="pb-1 form-field clickable" *ngIf="type.value === 'Protected'" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput
                placeholder="********" />
            <mat-icon class="noselect" matSuffix (click)="showPassword = !showPassword">{{ showPassword ?
                'visibility_off' : 'visibility' }} </mat-icon>
            <mat-hint>Caractères alphanumériques seulement et doit être entre 8 et 256 caractères</mat-hint>
            <mat-error *ngIf="password.hasError('required')">
                Ce champ est obligatoire.
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                Le mot de passe doit être entre 8 et 256 caractères.
            </mat-error>
            <mat-error *ngIf="password.hasError('maxlength')">
                Le mot de passe doit être entre 8 et 256 caractères.
            </mat-error>
        </mat-form-field>
        <div>
            <button type="submit" mat-raised-button color="primary" (click)="sendCreateCollaboration(newDrawingForm.value)" class="form-field">
                <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
                <ng-container *ngIf="!isLoading">Soumettre</ng-container>
            </button>
        </div>
        <div class="pt-1">
            <button (click)="dialogRef.close()" mat-raised-button color="secondary" class="form-field">
                Annuler
            </button>
        </div>
    </form>
    <form>
        <div class="pv-1">Couleur d'arrière plan</div>
        <app-color-picker></app-color-picker>
    </form>
</div>

<style>
    h1 {
        font-size: 2rem;
    }

    .form-field {
        width: 300px;
    }

    .main-container-wrapper {
        gap: 0rem;
        align-items: center;
        padding-top: 3rem;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .header {
        font-weight: bolder;
        font-size: 2rem;
    }
</style>