<div class="parameter">
  <h4>{{toolName}}</h4>
  <div [formGroup]='form'>
    <div>
      <mat-form-field>
        <mat-label>Épaisseur de la bordure</mat-label>
        <input id="strokeInput" matInput matTextareaAutosize formControlName='strokeWidth' type="number"
          placeholder="Épaisseur de la bordure" min="1" oninput="validity.valid||(value='1');"
          onblur="validity.valid||(value='1');">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Style de remplissage</mat-label>
      <mat-button-toggle-group [(value)]="currentStyle" #group="matButtonToggleGroup">
        <mat-button-toggle mat-icon-button [matTooltip]="styles[0].tooltip" [value]="styles[0].id"
          (click)="selectStyle(styles[0].id)">
          <svg width=26 height=26>
            <rect x=3 y=3 width=20 height=20 fill="grey" stroke="black" stroke-width="3"></rect>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle mat-icon-button [matTooltip]="styles[1].tooltip" [value]="styles[1].id"
          (click)="selectStyle(styles[1].id)">
          <svg width=26 height=26>
            <rect x=3 y=3 width=20 height=20 fill="grey" stroke="transparent" stroke-width="3"></rect>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle mat-icon-button [matTooltip]="styles[2].tooltip" [value]="styles[2].id"
          (click)="selectStyle(styles[2].id)">
          <svg width=26 height=26>
            <rect x=3 y=3 width=20 height=20 fill="transparent" stroke="black" stroke-width="3"></rect>
          </svg>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>