<div [formGroup]='sizeForm'>
    <mat-form-field [style.width.%]="30">
        <mat-label>Nom du nouveau dessin</mat-label>
        <input matInput formControlName='title' type="string" placeholder="Entrez le nom du dessin" required>
    </mat-form-field>
    <br>
    <mat-form-field [style.width.%]="15">
        <mat-label>Niveau de visibilité</mat-label>
        <mat-select formControlName='type' required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let visibility of visibilityTypes" [value]="visibility">
                {{visibility}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <br>
    <mat-form-field [style.width.%]="15">
        <mat-label>Auteur</mat-label>
        <mat-select formControlName='author_username' required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let teamName of teamNames" [value]="teamName">
                {{teamName}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Largeur</mat-label>
        <input matInput formControlName='width' type="number" placeholder="Largeur" [min]="minDimension" required>
    </mat-form-field>
    <span class="space-between-forms-input">
        <svg [attr.height]="xSize.height" [attr.width]="xSize.width">
            <line [attr.x1]="xSize.x" [attr.y1]="xSize.x" [attr.x2]="xSize.y" [attr.y2]="xSize.y" class="x-style" />
            <line [attr.x1]="xSize.y" [attr.y1]="xSize.x" [attr.x2]="xSize.x" [attr.y2]="xSize.y" class="x-style" />
        </svg>
    </span>
    <mat-form-field>
        <mat-label>Hauteur</mat-label>
        <input matInput formControlName='height' type="number" placeholder="Hauteur" [min]="minDimension"
            oninput="validity.valid || '';" required>
    </mat-form-field>
</div>