<div [formGroup]='newDrawingForm'>
    <mat-form-field [style.width.%]="30">
        <mat-label>Nom du nouveau dessin</mat-label>
        <input matInput formControlName='title' type="string" placeholder="Entrez le nom du dessin" required>
    </mat-form-field>    
    <br>
    <mat-form-field [style.width.%]="15">
        <mat-label>Auteur</mat-label>
        <mat-select formControlName='author_username' required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let teamName of teamNames" [value]="teamName">
                {{teamName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field [style.width.%]="15">
        <mat-label>Niveau de visibilité</mat-label>
        <mat-select [(value)]="selectedType" formControlName='type' required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let visibility of visibilityTypes" [value]="visibility">
                {{visibility}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="selectedType==='Protégé'" [style.width.%]="15">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName='password' type="string" placeholder="Entrez le mot de passe du dessin" required>
    </mat-form-field>
</div>