@import "~@angular/material/theming";

@include mat-core();

$polydessin-theme-primary: mat-palette($mat-grey, 800, 700, 900);
$polydessin-theme-accent: mat-palette($mat-grey);
$polydessin-theme-theme: mat-light-theme($polydessin-theme-primary, $polydessin-theme-accent);

@include angular-material-theme($polydessin-theme-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.thumbnail-wrapper {
  position: relative;
  width: 100px;
  height: 400px;
}
fa-icon {
  color: rgba(black, 0.54);
}
