<div align="end">
<button mat-icon-button mat-dialog-close (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>
</div>
<div layout="row" layout-align="center center" style="margin: 0 auto; text-align: center;">
  <div style="padding-left: 10;"></div>
  <mat-card-header align="center">
  <img style="background-size: cover;" mat-card-avatar src="{{drawing.author_avatar}}">
  <br>
  <mat-card-title>{{drawing.title}}</mat-card-title>
  <br>
  <mat-card-subtitle>
    Mise à jour le {{ drawing.updated_at | date:'short' }}
    <br>
    Créé le {{ drawing.created_at | date:'short' }}
  </mat-card-subtitle>
</mat-card-header>
  <img mat-card-image class="image-preview" src="../../../assets/default-image.png">
  <div class='"separator'></div>
  <mat-card-subtitle>
    Auteur: {{drawing.author_username}}<br>
    Type de dessin: {{drawing.type}}<br>
    Nombre de collaborateurs actifs: {{drawing.collaborator_count}}
  </mat-card-subtitle>
  <mat-dialog-actions class="actions">
    <div>
      <button [disabled]="isLoading" (click)="onSubmit()" mat-raised-button cdkFocusInitial color="primary">
        Rejoindre le dessin
      </button>
    </div>
  </mat-dialog-actions>
</div>

<style>
  .actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
  }
</style>