<!-- <div fxLayoutAlign="start start"> -->
    <h1 mat-dialog-title>
        Titre du dessin
      </h1>
      <mat-card-subtitle>
        Date de création
      </mat-card-subtitle>
        <img mat-card-image class="image-preview" src="../../../assets/img/dessin-exemple.jpg">
        <div class='"separator'></div>
          <mat-card-content>
           Auteur:
           </mat-card-content>
           <mat-card-content>
            Nombre de collaborateurs actifs:
          </mat-card-content>
        <mat-dialog-actions>
            <button mat-raised-button cdkFocusInitial [mat-dialog-close]="" color="primary">Accéder au dessin</button>
            <button class="mat-raised-button" mat-dialog-close>Annuler</button>
          </mat-dialog-actions>
      