.rightsidebar {
  width: 150px;
  height: 100%;
  background-color: #2f3136;
  overflow: hidden;
  transition: 0.5s;
}

.channel_button {
  width: 270px;
  height: 100%;
  margin-left: 5%;
  margin-left: 5%;
  text-align: left;
}

.add_button {
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  align-content: center;
  text-align: center;
  height: 30px;
  background-color: #2f3136;
}

.channelHeaders {
  font-size: 15px;
  color: rgb(174, 174, 174);
  text-align: right;
  margin-right: 25px;
}

.channel_box:hover {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -12px;
  background-color: #393c43;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  animation-duration: 4s;
}

.channels {
  font-size: 15px;
  color: rgb(174, 174, 174);
  text-align: right;
  margin-right: 20px;
}

.channel_box:hover .channels {
  padding: 5px;
  color: white;
  margin-right: 5px;
  margin-top: 0px;
}

.options {
  height: 30%;

  background-color: #2f3136;
}

.chatbox {
  height: 65%;
  overflow: auto;
  background-color: #2f3136;
}

.left_pannel {
  background-color: #2f3136;
}

.right_pannel {
  background-color: #2f3136;
  position: absolute;
  right: 0;
}
