.rightsidebar {
  width: 300px;
  height: 100%;
  background-color: #dbdbdb;
}

.channel_button {
  width: 270px;
  margin-left: 5%;
  margin-left: 5%;
  text-align: left;
}

.options {
  height: 30%;
  background-color: #dbdbdb;
}

.chatbox {
  height: 65%;
  overflow: auto;
  background-color: #dbdbdb;
}

.grounded {
  padding: 2%;
  height: 5%;
  width: 270px;
  background-color: #dbdbdb;
}

#create_button {
  width: 270px;
  margin-left: 2%;
  margin-right: 2%;
}
