<div>
    <h4>Menu:</h4>
    <!-- <button mat-flat-button id='help' matTooltip="Aide" (click)="openHelp()"> Aide</button> -->
    <!-- <mat-divider></mat-divider> -->
    <button></button>
    <button mat-flat-button color="accent" id='undo' matTooltip="Retour à l'arrière (CTRL+Z)" (click)="undo()"
        [disabled]='!canUndo'>Retour à l'arrière</button>
    <button mat-flat-button color="accent" id='redo' matTooltip="Retour à l'avant (CTRL+SHIFT+Z)" (click)="redo()"
        [disabled]='!canRedo'>Retour à l'avant</button>
</div>