<div>
    <h4>Menu:</h4>
    <!-- <button mat-flat-button id='help' matTooltip="Aide" (click)="exportThumbnail()"> EXPORTER</button> -->
    <!-- <mat-divider></mat-divider> -->
    <button></button>
    <button mat-flat-button color="accent" id='undo' matTooltip="Undo (CTRL+Z)" (click)="undo()"
        [disabled]='!canUndo'>Empiler (undo) </button>
    <button mat-flat-button color="accent" id='redo' matTooltip="Redo (CTRL+SHIFT+Z)" (click)="redo()"
        [disabled]='!canRedo'>Desempiler (redo) </button>
</div>