<div class="team-page-main-wrapper">
    <div *ngIf="!isLoading" class="team-page-container">
        <div class="team-card" *ngFor="let team of mockTeams; index as i">
        </div>
    </div>
    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner">
            <mat-spinner [diameter]="35" color="accent"></mat-spinner>
        </div>
    </div>
</div>


<style>
    .team-page-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .team-page-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .team-card {
        min-width: 30%;
    }
</style>