 <p class="form-title"><b>Veuiller entrer votre mot de passe afin d'enregistrer les changements</b></p>
 <form class="form" id="verifyPassword"[formGroup]="verifyPasswordForm" (submit)="verify()">
    <mat-form-field class="pb-1 form-field clickable" appearance="outline">
    <mat-label>mot de passe</mat-label>
            <input
            formControlName="password"
            matInput
            placeholder="********"
            />
    </mat-form-field>
</form>
<button mat-raised-button class="form-field"
 id="verifyPassword"
 type="submit"
 (click)="close()"
 form="verifyPasswordForm">Soummettre</button>