<mat-card style="border: 1px solid #fff;" class="drawing-card" *ngIf="drawing">
  <mat-card-header>
    <img mat-card-avatar src="{{drawing.author_avatar}}" class="example-header-image">
    <mat-card-title>{{drawing.title}}</mat-card-title>
    <mat-card-subtitle>Mise à jour le {{ drawing.updated_at | date:'short' }}
    </mat-card-subtitle>
  </mat-card-header>
  <img class="image-preview" mat-card-image
    src="../../../assets/default-image.png">

  <button mat-icon-button *ngIf="drawing.type === 'Protected'" class="lock" mat-card-image src=""></button>
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>Auteur: {{drawing.author_username}}</mat-card-subtitle>
    <mat-card-subtitle>Collaborateurs actifs: {{drawing.collaborator_count}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button class="btn" mat-raised-button color="primary"
      (click)="openDialog()">Aperçu du dessin</button>
  </mat-card-actions>
</mat-card>