<div class="all_channels" [ngStyle]="all_channel_dynamic_css">
  <!-- <h3 style="margin-left: 5%">Create my own channel</h3> -->
  <button
    mat-button
    (click)="closeChannelBar()"
    style="position: fixed; top: 0; right: 180px; top: 10px; color: white"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button
    mat-stroked-button
    style="
      position: fixed;
      top: 0;
      right: 250px;
      top: 10px;
      color: white;
      border-color: #282b2f;
      background-color: #282b2f;
    "
  >
    <mat-icon>add</mat-icon>
    Create new channel
  </button>

  <h3 style="margin-left: 5%">Browse channels</h3>

  <div
    class="channel_box"
    *ngFor="let channel of all_channels | keyvalue"
    (click)="joinChannel(channel.value.channel_id)"
  >
    <div
      class="column1"
      [ngStyle]="channel.value.btnStyle"
      matTooltip="Join channel"
    >
      <div style="font-size: 18px" [ngStyle]="channel.value.btnStyle">
        <mat-icon>public</mat-icon>{{ channel.value.name }}
      </div>
      <div style="color: #b9bbbe" [ngStyle]="channel.value.btnStyle">
        <mat-icon>person_outline</mat-icon>
        {{ channel.value.owner_username }}
      </div>
      <br />
      <div
        style="color: #b9bbbe; font-size: 12px"
        [ngStyle]="channel.value.btnStyle"
      >
        {{ channel.value.member_count }} Members
      </div>
      <div
        style="color: #b9bbbe; font-size: 12px"
        [ngStyle]="channel.value.btnStyle"
      >
        {{ channel.value.online_member_count }} Online
      </div>
    </div>
  </div>
</div>
