<div id = "mychat" [style.display]="isVisible ? 'block' : 'none'" class="main-page-container">
	<div class="main-chat-container">
		<div #messageContainer class="messages-container">
			<div #messagesList *ngFor="let message of messages; index as i">
				<div class="main-message-container"
					[class.my-message]="message.username === socketService.username">
					<div *ngIf="message.username !== systemUsername" class="message-content-container"
						[class.my-message-content-container]="message.username === socketService.username">
						<div class="user-avatar">
							{{ message.username[0] | uppercase }}
						</div>
						<div>
							<div class="username" [class.my-username]="message.username === socketService.username">
								{{ message.username }}
							</div>
							<div class="message-wrapper">

								{{ message.message }}
							</div>
							<div class="timestamp">{{message.timestamp}}</div>
						</div>
					</div>
					<div class="system-message-container" *ngIf="message.username === systemUsername">
						{{ message.message }}
					</div>
				</div>
			</div>
		</div>
		<div class="chat-footer-container">
			<input id="message-field" class="primary-input full-width" placeholder="Message" type="text"
				[(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()">
			<button mat-fab color="secondary" aria-label="Send button" (click)="sendMessage()">
				<mat-icon aria-hidden="false" aria-label="Send icon" [ngStyle]="{'color':'#378DDD'}">
					send</mat-icon>
			</button>
		</div>
	</div>
	<div class="flex-container">
	<button (click)="disconnect()" class="button-primary clickable">
		Déconnexion
	</button>
	<button (click)="open()" class="button-primary clickable">
		Fenetre
	</button>
</div>

</div>

