.main-chat-container {
	border: 1px solid #c8c8c8;
	width: 80%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 10px;
}

.chat-footer-container {
	display: flex;
	justify-content: space-around;
	gap: 0.5rem;
	margin-top: 1rem;
}

.primary-input {
	width: 100%;
}

.button-primary {
	max-width: 300px;
}

.flex-container {
	margin-top: 3rem;
}

.system-message-container {
	text-align: center;
	font-family: "Roboto";
	font-size: 16px;
}

.messages-container {
	display: flex;
	height: 100%;
	justify-content: flex-start;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	overflow-y: scroll;
}

.my-message {
	display: flex;
	flex-direction: column;
	padding: 0.25rem;
	align-items: flex-end;
}

.message-wrapper {
	display: inline-block;
	background-color: #e9e9eb;
	padding: 1rem 1.5rem;
	border-radius: 10px;
	font-size: 24px;	
}

.username {
	padding: 0 0.25rem;
	font-family: Roboto;
}

.my-username {
	display: none;
}

.timestamp {
	font-size: 16px;
	font-family: "Roboto";
	padding: 0.25rem;
	text-align: left;
}

.message-content-container {
	display: flex;
	align-items: center;
	max-width: 150px;
	gap: 0.5rem;
}

.user-avatar {
	background-color: #4e71ce;
	min-width: 50px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border-radius: 100%;
	color: white;
}

.my-message-content-container {
	.user-avatar {
		display: none;
	}

	.timestamp {
		text-align: right;
	}

	.message-wrapper {
		background-color: #4e71ce;
		color: white;
	}
}
