<div class="main-container-wrapper">
    <h1 style="color: white;">Connexion</h1>

    <form class="form" [formGroup]="loginForm" (submit)="login()">
        <div *ngIf="errorMessage" class="error-flash">
            {{ errorMessage }}
        </div>
        <mat-form-field class="form-field clickable" appearance="outline">
            <mat-label>Courriel</mat-label>
            <input matInput formControlName="email" type="email" placeholder="exemple@courriel.com" />
        </mat-form-field>

        <mat-form-field class="form-field clickable" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput
                placeholder="********" />
            <mat-icon class="noselect" matSuffix (click)="showPassword = !showPassword">{{ showPassword ?
                "visibility_off" : "visibility" }}
            </mat-icon>
        </mat-form-field>
        <div>
            <button color="primary" class="form-field" type="submit" mat-raised-button>
                <div class="spinner"  *ngIf="isLoading" >
                    <mat-spinner [diameter]="35" color="accent" class="spinner"></mat-spinner>
                </div>
                <ng-container *ngIf="!isLoading">Connexion</ng-container>
            </button>
        </div>
        <div class="pt-1">
            <button color="cancel" class="form-field" mat-raised-button routerLink="/auth/menu">
                Retour
            </button>
        </div>

        <div class="pt-2">
            <span style="color: white">
                Pas de compte?
                <u class="link clickable" routerLink="/auth/register">Inscrivez-vous</u>
            </span>
        </div>
    </form>
</div>

<style>
    h1 {
        font-size: 2rem;
    }

    .form-field {
        min-width: 300px;
    }

    .main-container-wrapper {
        gap: 0rem;
        align-items: flex-start;
        padding-top: 3rem;
    }

    .form {
        display: flex;
        flex-direction: column;
    }
</style>