<body>
<div class="circle"> </div>
<div class="circle-xlarge"></div>
<div class="circle-large"></div>
<div class="circle-medium"></div>
<div class="circle-small"></div>
<h1 class="title"> Colorimage </h1>


<div class="email-input-container">
    <p>Veillez entrer l'addresse email avec laquelle vous avez créé votre compte afin de pouvoir changer votre mot de passe</p>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <input class="input-email-container" placeholder="Email">
        </mat-form-field>
    </form>
</div>
</body>