<div class="paint-background" style="text-align: center; font-family: Roboto;">
    <h1>Bienvenue à Colorimage!</h1>
    <div>
    <button mat-raised-button>
        <mat-icon>add</mat-icon>
        Nouveau dessin
    </button>
    </div>
    <br>
    <div>
    <button mat-raised-button>
        <mat-icon>collections</mat-icon>
        Galerie de dessins
    </button>
    </div>
    <br>
    <div>
    <button mat-raised-button>
        <mat-icon>group</mat-icon>
        Équipe de collaboration
    </button>
    </div>
    <br>
    <div>
    <button mat-raised-button>
        <mat-icon>account_box</mat-icon>
        Paramètre du compte
    </button>
    </div>
    <br>
</div>

