.mat-icon {
    height: 70px !important;
    width: 70px !important;
    font-size: 70px !important;
    top: 0;
    bottom: 0;
}

.mat-button {
    font-size: 20px;
    text-align: center;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
