<div class="main-page-container">
	<div class="login-form-container">
		<div class="header-container">
			<div class="header">
				Connexion
			</div>
			<input (keyup)="$event.keyCode == 13 && onSubmit()"  id="username-field" class="primary-input" placeholder="Nom d'utilisateur" type="text" [(ngModel)]="username">
			<label *ngIf="socketService.error" class="error-field" for="username-field"> {{socketService.error}} </label>
		</div>
		<button type="submit" (click)="onSubmit()" class="clickable button-primary">Se connecter</button>
	</div>
</div>