mat-drawer-container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

mat-drawer {
  background-color: rgb(219, 219, 219);
  flex: 1 1 auto;
}

mat-drawer-content {
  flex: 0 0 1;
  width: 100%; // pour que le content occupe tout l'espace
  height: 100%;
}
.parameter {
  text-align: center;
}
