<section>
    <button mat-icon-button mat-dialog-close (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
    <div style="text-align: center;">
        <h1 mat-dialog-title>
            {{drawing.title}}
        </h1>
        <mat-card-subtitle>
            Créé le {{ drawing.created_at | date:'short' }}
        </mat-card-subtitle>
        <img mat-card-image class="image-preview" src="../../../assets/img/mock-img/10.jpg">
        <div class='"separator'></div>
        <mat-card-content>
            Auteur: {{drawing.author_username}}
        </mat-card-content>
        <mat-card-content>
        </mat-card-content>
    </div>

    <form class="form" [formGroup]="passwordForm" (submit)="onSubmit()">
        <mat-form-field class="form-field clickable" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput
                placeholder="********" />
            <mat-icon class="noselect" matSuffix (click)="showPassword = !showPassword">{{ showPassword ?
                "visibility_off" : "visibility" }}
            </mat-icon>
        </mat-form-field>
    </form>

    <mat-dialog-actions class="actions">
        <div>
            <button [disabled]="password.invalid || isLoading" (click)="onSubmit()" mat-raised-button cdkFocusInitial
                color="primary">
                Rejoindre le dessin
            </button>
        </div>
    </mat-dialog-actions>
</section>

<style>
    .actions {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
</style>