<body>
<div class="page-container">
<div class="circle"> </div>
<div class="circle-xlarge"></div>
<div class="circle-large"></div>
<div class="circle-medium"></div>
<div class="circle-small"></div>
<h1 class="title"> Colorimage </h1>
<div class="login-inputs-container">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <input class="input-email-container" placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
        <input class= "input-id-container" placeholder= "Identificateur">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
        <input class="input-password-container" placeholder="Mot de passe">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
        <input class="input-name-container" placeholder="Prénom">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
        <input class="input-last-name-container" placeholder="Nom">
        </mat-form-field>

    </form>
    
</div>
