<h2>Mot de passe oublié</h2>
<p>Entrez votre courriel et nous enverrons les étapes de réinitialisation de mot de passe.</p>
<mat-form-field class="form-field clickable" appearance="outline">
    <mat-label>Courriel</mat-label>
    <input [(ngModel)]="email" matInput type="email" placeholder="exemple@courriel.com" />
</mat-form-field>

<div class="submit-button-container">
    <button color="primary" class="form-field" type="submit" mat-raised-button (click)="forgetPassword()">
        <div class="spinner" *ngIf="isLoading">
            <mat-spinner [diameter]="35" color="accent" class="spinner"></mat-spinner>
        </div>
        <ng-container *ngIf="!isLoading">Soumettre</ng-container>
    </button>
    <button mat-raised-button color="secondary" class="form-field" mat-dialog-close>
        Retour
    </button>
</div>

<style>
    .form-field {
        width: 100%;
        display: block;
    }

    .submit-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }
</style>