<form class="form" [formGroup]="passwordForm">
    <h2>Entrez le mot de passe: </h2>
    <mat-form-field class="form-field clickable" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput
        placeholder="********" />
        <mat-icon class="noselect" matSuffix (click)="showPassword = !showPassword">{{ showPassword ?
            "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error *ngIf="password.hasError('required')">
            Ce champ est obligatoire.
        </mat-error>
    </mat-form-field>
    <button [disabled]="!passwordForm.valid" (click)="onSubmit()" type="submit" mat-raised-button color="primary" class="form-field">
        <div class="spinner" *ngIf="isLoading"  >
            <mat-spinner  [diameter]="25" color="accent" class="spinner"></mat-spinner>
        </div>
        <ng-container *ngIf="!isLoading">Soumettre</ng-container>
    </button>
    <button [disabled]="isLoading" (click)="dialogRef.close()" type="submit" mat-raised-button color="secondary" class="form-field">
        <div class="spinner" *ngIf="isLoading"  >
            <mat-spinner  [diameter]="25" color="accent" class="spinner"></mat-spinner>
        </div>
        <ng-container *ngIf="!isLoading">Annuler</ng-container>
    </button>
</form>

<style>
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .form-field {
        min-width: 300px;
    }
</style>