<h2>
    Mise à jour du mot de passe
</h2>

<div class="main-container-wrapper">
    <form class="form" [formGroup]="updatePasswordForm" (submit)="onSubmit()">
        <mat-form-field class="pb-1 form-field clickable" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input required formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" matInput
                placeholder="********" />
            <mat-icon class="noselect" matSuffix (click)="showPassword = !showPassword">{{ showPassword ?
                'visibility_off' : 'visibility' }} </mat-icon>
            <mat-hint>Caractères alphanumériques seulement et doit être entre 8 et 256 caractères</mat-hint>
            <mat-error *ngIf="newPassword.hasError('required')">
                Ce champ est obligatoire.
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('minlength')">
                Le mot de passe doit être entre 8 et 256 caractères.
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('maxlength')">
                Le mot de passe doit être entre 8 et 256 caractères.
            </mat-error>
            <mat-error *ngIf="newPassword.value !== confirmPassword.value">
                Le mot de passe entré ne concorde pas avec la confirmation de mot de passe...
            </mat-error>
        </mat-form-field>
        <mat-form-field class="pb-1 form-field clickable" appearance="outline">
            <mat-label>Confirmation du mot de passe</mat-label>
            <input required formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'" matInput
                placeholder="********" />
            <mat-icon class="noselect" matSuffix (click)="showPassword = !showPassword">{{ showPassword ?
                'visibility_off' : 'visibility' }} </mat-icon>
            <mat-error *ngIf="confirmPassword.hasError('required')">
                Ce champ est obligatoire.
            </mat-error>
            <mat-error *ngIf="confirmPassword.hasError('passwordMismatch')">
                Le mot de passe ne concorde pas avec la confirmation du mot de passe.
            </mat-error>
        </mat-form-field>
        <button [disabled]="!isValid()" class="buttons" mat-flat-button color="accent" (click)="onSubmit()">
            <div class="spinner">
                <mat-spinner [diameter]="25" *ngIf="isLoading">
                </mat-spinner>
            </div>
            <div *ngIf="!isLoading">
                Soumettre
            </div>

        </button>
        <button [disabled]="dialogRef.disableClose" (click)="dialogRef.close()" class="buttons" mat-flat-button
            color="accent">Annuler</button>
    </form>
</div>

<style>
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        flex-direction: column;
    }

    .form-field {
        width: 100%;
    }

    .buttons {
        display: block;
        width: 100%;
    }
</style>