<div [ngStyle]="chatBoxCSS">
  <div class="top-open-box">
    <mat-grid-list cols="2" rowHeight="2:0.5">
      <mat-grid-tile><p>Channel 3</p></mat-grid-tile>
      <mat-grid-tile>
        <button
          mat-icon-button
          style="margin-left: 50px"
          (click)="isChatOpen ? minimiseChatBox() : openChatBox()"
        >
          <mat-icon *ngIf="isChatOpen">minimize</mat-icon>
          <mat-icon *ngIf="isChatOpen === false">maximize</mat-icon>
        </button>
        <button mat-icon-button (click)="popOutChat()">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="closeChatBox()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-divider></mat-divider>

  <div style="height: 77%" class="conversation">
    <mat-chip-list style="cursor: none" class="mat-chip-list-stacked">
      <mat-chip
        *ngFor="let message of socketConversation"
        selected
        [color]="message.color"
        [ngStyle]="message.style"
      >
        {{ message.text }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div style="margin-left: 5px; height: 15%; background-color: #fafafa">
    <input
      placeholder="Aa"
      class="text-input"
      type="text"
      [(ngModel)]="currentText"
      (keyup.enter)="sendMessage()"
    />
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
