<div [ngStyle]="chatCss" style="transition: 1s; overflow: hidden">
  <div class="header_box">
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile colspan="3" rowspan="1">
        <p style="font-size: 20px">{{ "#" + chatBoxName }}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <button mat-button (click)="popOutChat()">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-button (click)="closeChat()" style="margin-left: -20px">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <br />
  </div>
  <div class="messages_container" #messageBox>
    <div
      *ngFor="let message_ of messages"
      style="margin-bottom: 50px; width: 400px"
      #messagesWatcher
    >
      <mat-grid-list cols="4">
        <div
          style="
            font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            display: block;
            /* position: rela; */
            line-height: 1.375rem;
            min-height: 1.375rem;
          "
        >
          <mat-grid-tile colspan="2" rowspan="1" style="color: white">
            <!-- <div
              style="
                background-color: white;
                height: 50px;
                width: 50px;
                border-radius: 50%;
              "
            ></div> -->
            <img
              class="white_image"
              [src]="message_.avatar"
              alt="Italian Trulli"
              style="height: 50px; border-radius: 50%"
              loading="lazy"
            />

            <p
              class="fade-in-from-left"
              style="
                font-size: 16px;
                font-weight: 500;
                color: white;
                margin-left: 10px;
              "
            >
              {{ message_.username }}
            </p>
            <p
              class="fade-in-from-left"
              style="color: #72767d; font-size: 13px; margin-left: 5px"
            >
              {{ message_.time }}
            </p>
          </mat-grid-tile>
        </div>
      </mat-grid-list>

      <div
        class="fade-in-from-left"
        style="
          color: rgb(220, 221, 222);
          word-wrap: break-word;
          font-weight: 400;
          line-height: 22px;
          font-size: 16px;
          margin-top: -50px;
          margin-left: 80px;
          margin-right: 10px;
        "
      >
        {{ message_.message }}
      </div>
    </div>
  </div>
  <input
    class="input_text"
    placeholder="Aa"
    type="text"
    [(ngModel)]="currentText"
    (keyup.enter)="sendMessage()"
  />
</div>
