.chat_box {
  width: 300px;
}

.hide_all {
  display: none;
}

.header_box {
  margin-top: -20px;
  padding: 15px;
  color: rgb(174, 174, 174);
  background-color: #36393f;
  width: 300px;
}

.messages_container {
  height: 100%;
  width: 300px;
  position: fixed;
  background-color: #36393f;
  overflow: scroll;
}

.column1 {
  float: left;
  width: 30px;
  padding: 10px;
}
.column2 {
  float: left;
  width: 270px;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.messages_container::-webkit-scrollbar {
  display: none;
}

.input_text {
  padding: 10px;
  width: 260px;
  bottom: 0;
  position: fixed;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: #36393f;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  background-color: #40444b;
}
