.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

mat-sidenav {
  text-align: center;
  overflow-y: hidden;
}

.icons {
  padding: 5px;
}

.mat-button-toggle-label {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;

  .mat-button-toggle-label-content {
    text-align: center;
    flex: 1 1 100%;
  }
}

mat-button-toggle {
  width: inherit;
  height: 2em;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.mat-icon-button {
  height: 2em;
  font-size: 16px;
}

.mat-icon-button::ng-deep .mat-button-wrapper > * {
  vertical-align: baseline;
  padding-top: 0.2em;
}
