<mat-toolbar class="mat-elevation-z8 md-medium-tall" color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <span routerLink="" matRipple class="clickable title-button">Colorimage</span>
    <span class="example-spacer"></span>
    <div *ngIf="!isLoading && auth.activeUser">
      <button mat-button [matMenuTriggerFor]="menu">{{ auth.activeUser.displayName | uppercase }} </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="profile">Profile</button>
        <button mat-menu-item routerLink="account">Informations de compte</button>
        <hr>
        <button mat-menu-item (click)="logout()">Déconnexion</button>
      </mat-menu>
    </div>
    <div *ngIf="isLoading || !auth.activeUser" class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<style>
  .example-spacer {
    flex: 1 1 auto;
  }

  .title-button {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 1rem;
  }
</style>