<div class="parameter">
  <h4>{{toolName}}</h4>
  <div [formGroup]='form'>
    <div>
      <mat-form-field>
        <mat-label>Épaisseur de la bordure </mat-label>
        <input id="strokeInput" matInput matTextareaAutosize formControlName='strokeWidth' type="number"
          placeholder="Épaisseur de la bordure" min="1" oninput="validity.valid||(value='1');"
          onblur="validity.valid||(value='1');">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre de côté</mat-label>
        <input id="vertexInput" matInput matTextareaAutosize formControlName='vertexNumber' type="number"
          placeholder="3, 4, 5, ..., 12" min="3" max="12" oninput="validity.valid||(value='3');"
          onblur="validity.valid||(value='3');">
      </mat-form-field>
      <div>
        <mat-label>Style de remplissage</mat-label>
        <mat-button-toggle-group [(value)]="currentStyle" #group="matButtonToggleGroup">
          <mat-button-toggle mat-icon-button [matTooltip]="styles[0].tooltip" [value]="styles[0].id"
            (click)="selectStyle(styles[0].id)">
            <svg width=26 height=26>
              <polygon
                points="13.499999999999998,3 23.486093421099113,10.25532155906305 19.67174514907097,21.994678440936948 7.328254850929033,21.994678440936948 3.5139065789008885,10.255321559063049 "
                transform="scale(1.1516014836895307,1.1516014836895307) translate (-2.245551,-1.32009319065905)"
                fill="grey" stroke="black" stroke-width="3">
              </polygon>
            </svg>
          </mat-button-toggle>
          <mat-button-toggle mat-icon-button [matTooltip]="styles[1].tooltip" [value]="styles[1].id"
            (click)="selectStyle(styles[1].id)">
            <svg width=26 height=26>
              <polygon
                points="13.499999999999998,3 23.486093421099113,10.25532155906305 19.67174514907097,21.994678440936948 7.328254850929033,21.994678440936948 3.5139065789008885,10.255321559063049 "
                transform="scale(1.1516014836895307,1.1516014836895307) translate (-2.245551,-1.32009319065905)"
                fill="grey" stroke="transparent" stroke-width="3"></polygon>
            </svg>
          </mat-button-toggle>
          <mat-button-toggle mat-icon-button [matTooltip]="styles[2].tooltip" [value]="styles[2].id"
            (click)="selectStyle(styles[2].id)">
            <svg width=26 height=26>
              <polygon
                points="13.499999999999998,3 23.486093421099113,10.25532155906305 19.67174514907097,21.994678440936948 7.328254850929033,21.994678440936948 3.5139065789008885,10.255321559063049 "
                transform="scale(1.1516014836895307,1.1516014836895307) translate (-2.245551,-1.32009319065905)"
                fill="transparent" stroke="black" stroke-width="3">
              </polygon>
              <!-- <polygon cx=12 cy=12 rx=10 ry=10 fill="transparent" stroke="black" stroke-width="3"></ellipse> -->
            </svg>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>